<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary" id="reloadDashboard" title="Recarregar lista">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>

<div class="my-5 d-flex justify-content-between">
    <div class="rounded text-white bg-primary icon-card">
        <div class="icon-card-icon">
            <i class="fa-solid fa-bottle-water" style="text-align:center"></i>
        </div>
        <div class="icon-card-info">
            <span>Dispensers</span>
            <strong id="dispenser-count">0</strong>
        </div>
    </div>
    <div class="rounded text-white bg-secondary icon-card">
        <div class="icon-card-icon">
            <i class="fa-solid fa-hands-bubbles" style="text-align:center"></i>
        </div>
        <div class="icon-card-info">
            <span>Utilizações</span>
            <strong id="usage-count">0</strong>
        </div>
    </div>
    <div class="rounded text-white bg-success icon-card">
        <div class="icon-card-icon">
            <i class="fa-solid fa-person-walking" style="text-align:center"></i>
        </div>
        <div class="icon-card-info">
            <span>Entradas</span>
            <strong id="entries-count">0</strong>
        </div>
    </div>
    <div class="rounded text-white bg-info icon-card">
        <div class="icon-card-icon">
            <i class="fa-solid fa-fill" style="text-align:center"></i>
        </div>
        <div class="icon-card-info">
            <span>Reabastecimento</span>
            <strong id="recharges-count">0</strong>
        </div>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <h6 class="border-bottom border-gray pb-2 mb-0" style="display: flex; justify-content: space-between;">
        Visão geral de utilização
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button type="button" data-chartType="bar" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="chartTypeButton">
                    Selecionar
                </button>
                <div class="dropdown-menu dropdown-menu-right" id="dropdown-chart-type">
                    <a class="dropdown-item" href="#" data-chartType="bar" type="button">
                        <i class="fa-solid fa-chart-simple feather feather-calendar" id="bar-i"></i>
                        <span id="bar-span"> Barra</span>
                    </a>
                    <a class="dropdown-item" href="#" data-chartType="line" type="button">
                        <i class="fa-solid fa-chart-line feather feather-calendar"></i>
                        <span> Linha</span>
                    </a>
                </div>
            </div>
        </div>
    </h6>
    <div class="media text-muted pt-12">
        <canvas class="my-4 w-100 chartjs-render-monitor" id="myChart" width="700" height="290"
            style="display: block; width: 700px; height: 290px;"></canvas>
    </div>
</div>

<div class="my-3 p-3 bg-white rounded shadow-sm" id="update-list">
</div>