<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Gerenciamento</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary" id="reloadDispenserList" title="Recarregar lista">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>


<div id="dispenserListCard">
</div>

