<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Listagem</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary" id="reloadDispenserList" title="Recarregar lista">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <div class="card">
        <div class="card-header">
            3123b-aaaa-cccc-dddd-eeeeeeee
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p class="card-text"><b>Capacidade:</b> 100% <br><b>Utilizações:</b> 9999 <br><b>Endereço:</b> Rua Foo,
                    123.
                    Bairro Bar - 99999-999</p>
                <footer class="blockquote-footer">Atualizado em 04/12/2022
                </footer><br>
                <button type="button" class="btn btn-primary">Inspecionar</button>
            </blockquote>
        </div>
    </div>
</div>