<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Listagem</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary" id="reloadDispenserList" title="Recarregar lista">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>


<div class="d-flex flex-wrap align-items-center row p-3"
    id="dispenserListCard">
</div>

<div class="modal fade" id="dispenserListCardModal" tabindex="-1" role="dialog" aria-labelledby="ModalDispenser"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="dispenserListHeaderModal">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="dispenserListBodyModal"><b>Capacidade: </b>100%<br>
                    <b>Longitude: </b>5.98178644<br>
                    <b>Latitude: </b>45.88363911<br>
                    <b>Atualizado em: </b>04/12/2022 às 21:34<br>
                    <b>Registrado em: </b>04/12/2022 às 21:34<br>
                    <b>Total utilizações: </b>123<br>
                    <b>Total entradas: </b>321<br>
                    <b>Total recargas: </b>3<br>
                    <b>Complemento: </b>Porta entrada bloco A<br>
                    <b>Endereço: </b>Av. Manoel Elias, 2001 - Passo das Pedras, Porto Alegre - RS, 91240-261
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>