<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Mapa</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-secondary" id="reloadMap" title="Recarregar lista">
                <i class="fa-solid fa-rotate-right"></i>
            </button>
        </div>
    </div>
</div>

<div class="d-flex flex-wrap align-items-center row p-3" id="mapCard">
    <div id="viewDiv"></div>
</div>