#loader {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999 !important;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

#loader .rotating {
    position: absolute;
    font-size: 50px;
    z-index: 1001;
    left: 50%;
    top: 50%;
    color: rgb(82, 82, 82);
}

.hide-loader {
    display: none;
}

@-webkit-keyframes rotating

/* Safari and Chrome */
    {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
    -moz-animation: rotating 2s linear infinite;
    -ms-animation: rotating 2s linear infinite;
    -o-animation: rotating 2s linear infinite;
    animation: rotating 2s linear infinite;
}

#companyLabel {
    background-color: rgb(0 0 0 / 0%);
    color: white;
    opacity: .85;
}

#companyLabel span::after {
    content: "" !important;
}